extends bootstrap
append head
  title Entity Linking Show Page
append style
append script
  mixin javascript('js/runtime.min.js')
  mixin javascript('js/app.js')
  mixin javascript('http://fgnass.github.io/spin.js/spin.min.js')
block content
  .container
    br
    br
    div#spin
    div
      form.form-search.text-center
        input#query.span4.input-large.search-query(type="text")
        button#search-btn(type="button",style="margin-left:5px").btn.btn-primary Search
    br
    .row-fluid
      table.table.table-striped.table-bordered.table-hover
        thead
          tr.info
            th Property
            th Content
        tbody#contents

